section.search-shop {
    background-color: #545454;
    padding-top: 1rem;
}

section.search-shop .inner {
    padding: 1rem 0 2rem;
    text-align: center;
}

section.search-shop .inner form input[type="search"] {
    font-size: 24px;
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

section.search-shop .inner form button {
    /* font-size: 24px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; */
    line-height: 24px;
    background-color: white;
    color: #545454;
    border: none;
    width: auto;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    padding: 0.6rem 2rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

section.search-shop .inner form button:hover,
section.search-shop .inner form button:active,
section.search-shop .inner form button:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

.shop-sidebar ul li h3 {
    font-size: 1.25rem;
    color: #a32638;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

ul.wc-block-product-categories-list li, .menu-categories-container ul.menu li {
    border-top: 1px solid #b5b0ad;
}

ul.wc-block-product-categories-list li a , .menu-categories-container ul.menu li a {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #a32638;
    font-weight: bold;
    background-color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.woocommerce-main-shop-content .product-category a {
    color: #a32638;
    font-weight: bold;
}

footer.footer .col-branding {
    width: 25%;
}

@media (min-width: 767px) {
    .woocommerce-shop .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .woocommerce-shop .container .shop-sidebar {
        width: 30%;
        padding-left: 1rem;
    }

    .woocommerce-shop .container .woocommerce-main-shop-content {
        width: 65%;
    }

    .search-results.woocommerce li a h2.woocommerce-loop-product__title {
        min-height: 80px !important;
    } 

    .search-results.woocommerce ul.products li.product .star-rating {
        display: none;
    }

    .woocommerce ul.products li.product .price {
        min-height: 32px;
    }
}

@media (max-width: 900px) {

    header.header .navigation nav .menu-main-menu-container ul {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    header.header .navigation nav .menu-main-menu-container ul li a {
        margin-top: 10px;
    }

    header.header .navigation nav .menu-main-menu-container ul li ul li a {
        margin-top: 0px;
    }

    header.header .navigation nav .menu-main-menu-container ul li ul {
        display: block !important;
        background-color: transparent;
        position: static;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    header.header .navigation nav .menu-main-menu-container ul li.hide-sub-menu-mobile ul {
        display: none !important;
    }

    

    header.header .navigation nav .menu-main-menu-container ul li ul li a {
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    header.header .navigation nav {
        height: initial;
    }

    
}

section.up-sells.upsells.products {
    clear: both;
}

body.hu-visible .hu-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.75);
    z-index: 100000;
}

body.hu-visible #hu-outer-wrapper {
    z-index: 9999999999 !important;
}

body.hu-hidden .hu-overlay {
    display: none;
}

.home-logo-bar img {
    max-width: 100vw;
    height: auto;
}

@media (max-width:1023px) {
    .woocommerce-store-notice {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .u2p {
        display: none !important;
    }
}