section.archive-filter {
	.upper-tabs {
		background-color: $lighter-grey;
		border-bottom: 1px solid $light-grey;
		padding-top: 3rem;


		ul {
			display: flex;
			justify-content: center;
		}

		li {
			margin: 0 0.5rem;

			a {
				padding: 0.5rem 1.5rem 0.6rem 1.5rem;
				display: block;
				color: $mid-grey;
				font-weight: bold;
				text-decoration: none;
				position: relative;
				top: 1px;

				&.active  {
					background-color: white;
					border: 1px solid $light-grey;
					border-bottom: 0;
				}
			}

			svg {
				width: 10px;
			}
		}
	}

	.lower-tabs {
		margin: 0.5rem auto;

		.sector, .service {
			display: none;

			.inner {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}
		}

		a {
			background-color: $lighter-grey;
			display: inline-block;
			color: $mid-grey;
			font-weight: bold;
			text-decoration: none;
			padding: 0.5rem 1rem;
			margin: 0.25rem;
			@extend .trans;

			&.active  {
				background-color: $red;
				color: white;
			}
		}
	}

}