section.author-block {
	background-color: $light-grey;
	padding: 1rem 0;

	p {
		color: white;
		margin-bottom: 0.5rem;
	}

	.container {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	ul {
		margin: 0;
		list-style-type: none;
		li {
			display: inline-block;

		}
	}

	img {
		border-radius: 100%;
	}

}