.yith-wfbt-section{
	border-top: 0.5rem solid $red;
	padding-top: 2rem;
	margin-top: 2rem;
	&:after{
		content: "";
		clear: both;
		display: table;
	}
	h3{
		color: $red;
		font-size: 1.5rem;
		padding: 2rem 0;
	}
	.price_text{
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
	}
	a{
		color: $red;
	}
	.yith-wfbt-submit-block{
		float: left;
		margin-bottom: 1rem;
	}
	.yith-wfbt-form{
		margin-top: 0.5rem;
	}
	ul.yith-wfbt-items{
		padding-top: 1rem;
		margin-bottom: 0;
		line-height: 1.5;
	}
}