section.breadcrumbs {
	background-color: $lighter-grey;
	padding: 1rem 0;
	font-weight: bold;
	a {
		color: $red;
		text-decoration: none;
	}

	&.shop {
		.container {
			display: flex;
			justify-content: space-between;

			@media (max-width: 480px) {
				display: block;
			}
		}
		.shop {
			text-align: right;
		}
	}
}