section.case-study-loop {
	margin-top: 3rem;

	.container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	article {
		position: relative;
		width: 20rem;
		height: 20rem;
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin: 1rem;
		padding: 1rem;
		@media(max-width: 425px){
			width: 16rem;
			height: 16rem;
		}

		h2 {
			position: relative;
			z-index: 100;
			color: white;
			font-size: 1.5rem;
			text-align: center;
			margin-bottom: 1rem;
		}
		.category {
			position: relative;
			z-index: 100;
			margin: 1rem 0;
			color: $red;
			font-weight: bold;
		}

		a {
			margin-top: 0;
			position: relative;
			z-index: 100;
			width:8rem;
			font-size: 0.8rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.25rem 0.5rem ;
			svg {
				height: 20px;
			}
		}
	}

}