section.center-button {
    background-color:$lighter-grey;
    padding:50px 0px;
    a{
        background-color:white;
        margin:auto;
        display:block;
        max-width:300px;
        width:90%;
        text-align:center;
        padding:10px 0px;
        text-decoration:none;
        color:#999999;
        border:1px solid $light-grey;
        font-size:24px;
        &:hover{
            background-color:$light-grey;
            color:white;
        }
    }
}