section.content-sidebar {
	padding: 3rem 0;

	.container {
		display: flex;
		flex-wrap: wrap;
	}
	h1 {
		width: 100%;
		font-size: 2rem;
		color: $red;
		margin-bottom: 1rem;
	}
	.feature-subtitle {
		width: 100%;
		p {
			color: $red;
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
	}

	article {
		width: 70%;

		@media (max-width: 700px) {
			width: 100%;
		}

		.testimonial {
			background-color: $light-grey;
			padding: 1rem;
			margin-top: 1rem;
			p {
				color: white;
			}
		}

	}
	aside {
		width: 30%;
		padding-left: 1rem;

		@media (max-width: 700px) {
			width: 100%;
			padding-top: 0;
		}

		h2 {
			font-size: 1.25rem;
			color: $red;
			margin-bottom: 1rem;
		}

		ul {

		}

		li a {
			display: block;
			margin-bottom: 0.5rem;
			padding: 0.5rem 1rem;
			text-decoration: none;
			background-color: $lighter-grey;
			color: $red;
			font-weight: bold;
			@extend .trans;

			&:hover {
				background-color: $red;
				color: white;
			}
		}

		img {
			max-width: 100%;
			height: auto;
		}


		&.newsletter {
			li a {
				background-color: white;
				margin-bottom: 0px;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;

				&:hover {
					color: $red;
				}
			}
		}

	}


	.faqs {
		.faq-item {
			margin-bottom: 2rem;
		}

		.question {
			display: block;
			cursor: pointer;
			padding: 1rem;
			border-bottom: 2px solid $red;
			background-color: $lighter-grey;
			margin: 0.5rem 0;
			font-size: 1.25rem;
		}
		.answer {
			display: none;
			padding: 3rem 1rem;
			border-bottom: 2px solid $red;
		}
	}

	.team-filters, .download-filters {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		p {
			margin: 0 0.5rem 0 0
		}

		a {
			margin: 0 0.25rem 0.25rem 0;
			line-height: 1.5rem;
			padding: 0.25rem 1rem;
			display: block;
			background-color: $lighter-grey;
			color: $red;
			text-decoration: none;
			font-weight: bold;
			@extend .trans;

			&.active {
				background-color: $red;
				color: $lighter-grey;
			}

		}
	}

	.team {

		.team-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media (max-width: 500px) {
				display: block;
				border-bottom: 1px solid #818386;
			}
		}

		.image {
			flex-shrink: 0;
			margin-right: 1rem;
			@media (max-width: 500px) {
				margin-right: 0;
				margin-bottom: 10px;
				text-align: center;
			}
		}

		.about {
			margin-right: auto;
		}


		h2 {
			font-size: 1.25rem;
			margin: 0 0 1rem 0;
			small {
				color: $text-color;
				font-size: 1.1rem;
			}
		}

		svg {
			height: 1.25rem;
			color: $red;
			margin-left: 0.5rem;

			&.fa-envelope {
				position: relative;
				top: 2px
			}
		}


		.contact {
			flex-shrink: 0;
			width: 10rem;
			margin-left: 1rem;
			text-align: right;
			@media (max-width: 500px) {
				width: 100%;
				text-align: left;
				margin-left: 0;
				margin-top: 10px;
				display: flex;
				align-items: center;
				p{
					margin-bottom: 0;
				}
			}
		}
	}

	.downloads {

		.download-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1rem;

		}

		.image {
			flex-shrink: 0;
			margin-right: 1rem;
			width: 100px;
			text-align: center;

			img {
				height: 100px;
			}
		}

		.about {
			margin-right: auto;
		}


		h2 {
			font-size: 1.25rem;
			margin: 0 0 1rem 0;
			small {
				color: $text-color;
				font-size: 1.1rem;
			}
		}

		svg {
			height: 100px;
			color: $red;
			margin-left: 0.5rem;

			&.fa-envelope {
				position: relative;
				top: 2px
			}
		}
	}


	.ranges {

		h2 {
			margin-top: 2rem;
		}

		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: grey;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}

		img {
			width: 50px;
			height: 50px;
			border-radius: 100%;
			margin-right: 1rem;
		}
	}

}

.downloads-form-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);

	display: flex;
	justify-content: center;
	align-items: center;

	.inner {
		background: white;
		padding: 1rem;
		width: 30rem;
		position: relative;
	}

	.gform_wrapper {
		margin: 0 !important;
	}
	a.close {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 1.5rem;
		text-decoration: none;
		color: $red;
	}

	h3 {
		font-weight: bold;
		margin-bottom: 0.5rem;
		color: $red;
	}
	span.gform_description {
		margin: 0 0 0.5rem 0 !important;
	}
	li.gfield {
		margin: 0 !important;
		padding: 0 !important;
	}
	label {
		font-weight: bold;
		padding-bottom: 0.5rem;
		display: block;
	}

	input {
		padding: 0.25rem 0.5rem !important;
		font-size: 1rem !important;
		width: 100% !important;
		margin-bottom: 1rem;
		border: 1px solid $light-grey;
	}
	.gform_footer {
		text-align: right;
	}
	input[type="submit"] {
		color: white;
		font-weight: bold;
		background-color: $red;
		border: none;
		width: 10rem !important;
		text-align: center;
		margin: 0;
	}
	.gfield_description.validation_message {
		padding: 0.25rem !important;
	}

}