section.content-product-range {
	
    .container{
        padding:50px 0px;
        max-width:900px;
        width:90%;
        p{
            color:#999999;
        }
        h2{
            text-align:center;
        }
    }
    
}
 