section.content-team {

	h2 {
		width: 100%;
		text-align: center;
		font-size: 1.75rem;

	}

	.team {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.team-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.image {
			flex-shrink: 0;
			margin-right: 1rem;
			border-radius: 100%;
			overflow: hidden;
		}

		.about {
		}


		h3 {
			font-size: 1.25rem;
			margin: 0 0 1rem 0;
		}

		svg {
			height: 1.25rem;
			color: $red;
			margin-left: 0.5rem;

			&.fa-envelope {
				position: relative;
				top: 2px
			}
		}


		.contact {
			flex-shrink: 0;
			width: 10rem;
			margin-left: 1rem;
			text-align: right;
		}
	}

}