section.content-videos {
	padding: 3rem 0;
	.videos {
		display: flex;
		flex-wrap: wrap;
	}
	h1 {
		width: 100%;
		font-size: 2rem;
		color: $red;
		margin-bottom: 1rem;
	}

	article {
		position: relative;
		width: 25%;
		height: 15rem;
		background-position: center;
		background-size: cover;
		@media (max-width: 768px) {
			width: 50%;
			height: 15rem;
		}
		@media (max-width: 500px) {
			width: 100%;
			height: 20rem;
		}

	}

	.inner {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		flex-direction: column;
	}

	h2 {
		color: white;
		font-size: 1.5rem;
		margin-bottom: 2rem;
		text-align: center;

		@media (max-width: 800px) {
			margin: 0;
			font-size: 1.8rem;
			text-align: center;
			padding: 1rem;
			box-sizing: border-box;
		}
	}


	a {
		border-radius: 100%;
		width: 4rem;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid white;

		@media (max-width: 480px) {
			width: 40px;
			height: 40px;
		}
	}
	svg {
		height: 20px;
		color: white;
	}

	.content {
		margin-bottom: 2rem;
	}

	.videos {

		p {
			font-size: 1rem;
			margin-top: 1rem;
			color: white;
		}
	}

}

.video-embed {
	position: fixed;
	background: rgba(0,0,0,0.85);
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;

	&.visible {
		animation: video-overlay 0.5s ease-in 0.25s forwards;
	}

	a.close {
		color: white;
		text-decoration: none;
		font-size: 2rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
	.inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	iframe {
		width: 80%;
	}

}



@keyframes video-overlay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}