section.envisage-block {
    padding-top:50px;
    padding-bottom:50px;
    img{
        width:100%;
        height:auto;
    }
    .container{
        display: block;

        .envisage-slider{
            width:100%;
            margin-bottom: 4rem;
            .slider{
                margin-bottom:10px;
                .slick-list{
                    width:80%;
                    margin:auto;
                    .envisage-slide{
                        position:relative;
                        img{
                            position:relative;
                        }
                        img.small-circle{
                            position: absolute;
                            bottom: 20px;
                            left: 20px;
                            width: 120px;
                            height: 120px;
                            border: 2px solid white;
                            border-radius: 100%;
                            object-fit: cover;
                            @media(max-width:650px){
                                width: 80px;
                                height: 80px;
                            }
                            @media(max-width:400px){
                                width: 50px;
                                height: 50px;
                                bottom: 5px;
                                left: 5px;
                            }
                        }
                    }
                }
            }
            button.slick-next{
                right:0px;
                
            }
            button.slick-prev{
                left:0px;
            }
        }
        .envisage-nav{
            .circle-thumb{
                border-radius:100%;  
                cursor:pointer;
                img{
                    border-radius:100px;
                    border:5px solid white;
                }
            }
            .slick-current{
                .circle-thumb{
                    border:1px solid #b5b0ad;
                }
            }


        }
        .envisage-title{
            .envisage-title-txt{
                padding: 10px;
                text-align: center;
                h2{
                    font-size: 1.5rem
                }
                a{
                    text-decoration: none;
                    color: $red;
                    font-weight: bold;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        article.content{
            max-width:960px;
            width: 90%;
            margin: auto;
            h2:first-child{
                margin-top:0px;
            }
                p{
                text-align:justify;
            }
        }
    } 
    @media(max-width:800px){
        .container{
            flex-direction:column;
            .envisage-slider{
             margin:auto;   
             width:90%;
            }
            article.content{
            margin:auto;
            width:90%;
            }
        }
    }
} 