section.featured-image {
	background-size: cover;
	background-position: center;
	padding: 10rem 0;
	position: relative;


	h1 {
		font-size: 3rem;
		text-align: center;
		color: white;
		position: relative;
		z-index: 2;
	}
}