section.featured-offering {
	margin-bottom: 3rem;
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 0;

		h2 {
			width: 100%;
			font-size: 1.5rem;
			margin: 5rem 0;
			text-align: center;
			color: $red;
		}

		h3 {
			position: relative;
			z-index: 100;
			color: $text-color;
			font-size: 1.25rem;
			text-align: center;
			margin: 1rem 0;
		}

		article {
			flex-basis: 100%;
			@media(min-width:600px){
				flex-basis: 33.333%;
			}
		}
		a {
			margin-top: 0;
			position: relative;
			z-index: 100;
			width:8rem;
			font-size: 0.8rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.25rem 0.5rem ;
			svg {
				height: 20px;
			}
		}

		.inner {
			padding: 1rem;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			margin: 1rem;
		}

		img {
			width: 100%;
		}
	}
}