section.gallery-type-filter {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9b1535;


    select {
        padding: 10px 30px 10px 10px;
        margin: 0;
        border-radius: 0;
        background: white;
        color: $text-color;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        border: 1px solid $text-color;
    }

    input {
        border: 1px solid $light-grey;
        padding: 0.5rem;
        width: 145px;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        select {padding-right:18px}
    }

    label {
        position:relative
    }
    label:after {
        content: '\25BC';
        color: white;
        right: 5px;
        top: 7px;
        padding:5px;
        position: absolute;
        pointer-events: none;
        font-size: 10px;
    }
    label:before {
        content: '';
        right: 1px;
        top: 1px;
        width: 30px;
        height: 33px;
        background: $light-grey;
        position: absolute;
        pointer-events: none;
        display: block;
    }
}