footer.footer {
	background-color: $red;
	padding: 2rem 0;
	color: white;
	clear: both; // for WooCommerce
	
	a {
		color: white;
		text-decoration: none;
	}

	img {
		width: 10rem;
	}

	.container {
		display: flex;
		width: 100%;
		@media (max-width: 960px) {
			flex-wrap: wrap;
		}
		@media (max-width: 480px) {
			display: block;
		}
	}
	.col-branding {
		width: 30%;
		padding: 0 0.5rem;
		@media (max-width: 960px) {
			width: 50%;
		}
		@media (max-width: 480px) {
			width: 80%;
			margin: auto;
			text-align: center;
		}
	}
	.col-links {
		width: 24%;
		padding: 0 0.5rem;
		@media (max-width: 960px) {
			width: 50%;
		}
		@media (max-width: 480px) {
			width: 100%;
			text-align: center;
		}
	}
	h2 {
		font-weight: bold;
		margin-bottom: 0.5rem;

		@media (max-width: 480px) {
			margin-top: 1rem;
		}
	}
	.social {
		padding: 3rem 0;
	}
	svg {
		height: 1rem;
		margin-right: 0.5rem;
	}
	.col-links {
		li {
			margin-bottom: 0.5rem;
		}
	}

	.supporting {
		padding: 0.5rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1100px) {
			display: block;
			padding: 0.5rem;
			margin-top: 1.5rem;

			p {
				margin-bottom: 0.5rem;
				line-height: 1.5;
			}
		}


		ul {
			display: flex;
			justify-content: flex-end;

			@media (max-width: 480px) {
				flex-wrap: wrap;
				justify-content: center;
			}

			li {
				padding-left: 1rem;

			}
		}

		.cred {
			margin-top: 0.5rem;
			p {
				text-align: right;
				width: 100%;
			}

			img {
				height: 10px;
				width: auto;
			}
		}

	}

}