.gallery-index {
    padding: 1rem 0px;
    
    .inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        article {
            position: relative;
            display: inline-block;
            max-width: 265px;
            padding-bottom: 1rem;

            .title {
                padding: 5px;
                min-height: 55px;
                position: absolute;
                top: 0px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(155,21,53,.8);
            }
            h2 {
                color: white;
                font-weight: bold;
                text-align: center;
            }
            img {
                max-width: 100%;
            }
        }
    }
}