section.gallery {
	padding: 4rem 0;

	.container  {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	h2 {
		width: 100%;
		margin-bottom: 1rem;
		color: $red;
		font-size: 1.5rem;
	}

	a {
		width: 13rem;
		height: 13rem;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-position: center;
		background-size: cover;
	}
	.gallery-for .slider-item{
		height: 500px;
		border: 1px solid white;
		background-size: cover;
		@media(max-width:550px){
			height: 300px;
		}
	}
	.gallery-nav .slider-item{
		border: 2px solid white;
		background-size: cover;
		height: 200px;
		border-radius: 50%;
		text-align: center;
		cursor: pointer;
		img{
			border-radius: 50%;
			display: inline-block;
			max-width: 100%;
		}
	}
	.gallery-nav{
		margin: 20px auto 0 auto;
		position: relative;
	}
	.gallery-for,
	.gallery-nav{
		overflow: hidden;
	}
}

section.gallery-large {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.75);
	
	a {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 100;
		font-size: 2rem;
		color: white;
		text-decoration: none;
	}

	.image {
		position: absolute;
		top: 5%;
		right: 5%;
		bottom: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

