header.header {
    padding: 1rem;

    @media(max-width:900px){
        padding-top: 1.2rem;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between; 
    }

    .logo {
        flex-shrink: 0;
        padding-right: 1rem;
        img {
            width: 12rem;
        }

    }

    .upper {
        margin-bottom: 1rem;
        // max-width: 40%;
        display: flex;
        align-items: center;

        @media(max-width:900px){
            margin-bottom: 0;
            align-self: flex-end;
        }
        @media(max-width:768px){
            margin-top: 30px;
            margin-left: 20px;
            display: block;
        }

        .phone{
            margin-right: 10px;
            color: $red;
            font-size: 1.2rem;
            text-decoration: none;
            @media(max-width:768px){
                position: absolute;
                top: 12px;
                right: 60px;
            }
        }


        ul {
            display: flex;
            justify-content: flex-end;
        }
        li {
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:row;
            a{
                background-color: $red;
                color: #fff;
                padding: 7px;
                text-decoration: none;
                font-weight: bold;
                text-align: center;
            }
        }
        .currency{
           font-weight:800;
            color: $text-color;
           select{
               padding:2px;
               margin-left:5px;
           }
        }
        .search-form{
            margin-right: 1rem;
            @media(max-width:768px){
                margin-right: 0;
                margin-bottom: 5px;
            }
            input{
                border: 1px solid $light-grey;
                height: 28px;
                padding: 5px;
                @media(max-width:768px){
                    width: 100%;
                    max-width: 126px;
                }
            }
        }
    }


    .navigation {
        width: 100%;
        margin-top: 15px;

        a {
            text-decoration: none;          
            font-weight: 500;

            &:hover{
                color:$red;
            }
            &.request-quote {
                text-transform: uppercase;
                color: $red;
                font-weight: 800;
            }
        }
    }


    svg {
        height: 1rem;
        display: none;
    }

    .menu-main-menu-container{
        width:100%;
        ul{
            width:100%;
            text-align:center;
            li{
                display:inline-block;
                position:relative;
                a{
                    color:$text-color;
                    font-size:0.9rem;
                    font-weight:bold;
                    padding:0px 10px;
                }
                &:last-of-type {
                    a {
                        padding-right: 0;
                    }
                }

                .sub-menu{
                    position: absolute;
                    top: 15px;
                    right: -95px;
                    display: none;
                    z-index: 10;
                    background-color: white;
                    width: auto;
                    text-align:center;
                    padding: 18px 0 10px 0;
                    li{
                        display:block;
                        a{
                            padding:5px 30px;
                            display:block;
                            width:250px;
                        }
                    }
                }
                &:hover{
                    .sub-menu{
                        display:block;
                    }
                }
            }
        }
    }
    .burger, .close{
     display:none;      
    }
    @media(max-width:900px){
        .container{
            display:flex;
            flex-wrap: nowrap;
        }
        .logo{
            margin: 0 0 0 0;
            padding:0px;
        }
        .navigation{
            margin-top: 1rem;
            align-self: flex-end;
            .upper{
                margin-bottom: 5px;
                ul{
                    display:inline;
                    text-align:center;
                }
            }
            nav{
                position:absolute;
                display:none;
                opacity:0;
                top:0px;
                left:0px;
                height:100VH;
                width:100%;
                background-color:rgba(163, 38, 56, 0.95);
                z-index:20;
                .menu-main-menu-container{
                    width:100%;
                    text-align:center;
                    position:relative;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    height:100%;
                    ul{
                        width:100%;
                        text-align:center;
                        li{
                            width:100%;
                            a{ 
                                color:white;
                                width:100%;
                                font-size:1.6rem;
                                padding: 3px;
                                display: block;
                                &:hover{
                                    color:grey;
                                }
                            }
                            ul{
                                display:none!important;
                            }
                        }
                    }
                }
                .close{
                    position:absolute;
                    display:inline;
                    color:white;
                    top:10px;
                    right:10px;
                    cursor:pointer;
                    p{
                        font-size:55px;
                    }
                }
            }
        }
        .burger{
            display: block;
            position: absolute;
            right: 25px;
            top: 8px;
            cursor:pointer;
        div{
            width: 30px;
            height: 4px;
            background-color: black;
            margin: 4px 0;
        }
    }
    }

    @media (max-width: 480px) {
        .logo img {
            width: 10rem
        }
        .logo{
            margin: 30px 0 0 0;
        }
    }

    .goog-te-gadget-simple {
        border: 1px solid #ccc;
    }
    
}
