section.hero-slider {
	background-color: $light-grey;

	.slider-item {
		position: relative;
		height: 500px;
		background-position: center;
		background-size: cover;
		@media(max-width:900px){
			height: 300px;
		}
	}
	.content {
		position: absolute;
		top: 0;
		width: 25rem;
		display: flex;
		align-items: flex-end;
		height: 100%;
		padding-bottom: 3rem;

		@media (max-width: 960px) {
			width: 20rem;
		}
		@media (max-width: 480px) {
			width: 18rem;
		}

		.inner {
			background-color: rgba($red, 0.65);
			padding: 1rem 2rem;

			@media (max-width: 480px) {
				padding: 1rem;

			}
		}
		
		p {
			color: white;
			font-weight: 500;
			font-size: 1.25rem;

			@media (max-width: 960px) {
				font-size: 1rem;
			}

			&.title {
				font-size: 3rem;
				font-weight: 700;
				margin-bottom: 1rem;

				@media (max-width: 960px) {
					font-size: 2.5rem;
				}

			}

		}
		
	}

	ul.slick-dots {
		position: absolute;
		top: 0;
		left: 26rem;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: flex-end;
		padding-bottom: 7rem;

		@media (max-width: 960px) {
			left: 21rem;
			padding-bottom: 6.5rem;
		}

		@media (max-width: 480px) {
			left: 19rem;
			padding-bottom: 6.5rem;
		}

		li {
			button {
				font-size: 0;
				height: 10px;
				width: 10px;
				border-radius: 100%;
				padding: 0;
				border: 1px solid white;
			}
		}

		li.slick-active {
			button {
				background-color: $red;
			}
		}


	}
}