section.hero-slider-blog-featured {
	background-color: $light-grey;

	.slider-item {
		position: relative;
		height: 500px;
		background-position: center;
		background-size: cover
	}
	.content {
		position: relative;
		z-index: 100;
		width: 25rem;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		flex-direction: column;

		@media (max-width: 960px) {
			width: 20rem;
		}

		.inner {
			background-color: rgba($red, 0.65);
			padding: 1rem 2rem;
		}

		
		p {
			color: white;
			font-weight: 500;
			font-size: 1.25rem;
			line-height: 1;

			@media (max-width: 960px) {
				font-size: 1rem;
			}

			&.title {
				font-size: 2rem;
				font-weight: 700;

			}

		}

		.meta {
			margin: 1rem;
			display: flex;
			align-items: center;

			.image {
				flex-shrink: 0;
				margin-right: 1rem;
			}
			img {
				width: 35px;
				height: 35px;
				border-radius: 100%;
				overflow: hidden;
			}

			p {
				font-size: 0.8rem;
			}

		}
		
	}

	button.slick-next.slick-arrow {
		bottom: 2rem;
		right: 2rem;
		top: auto;
	}

	button.slick-prev.slick-arrow {
		bottom: 2rem;
		top: auto;
		right: 5rem;
		left: auto;
	}

}