section.hero {
	position: relative;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	@media (max-width: 640px) {
		height: 320px;
	}

	&.blog {
		min-height: 400px;
		background-position: center;
		background-size: cover;
	}

	img {
		width: 100%;
		height: auto;
	}
	.content {
		position: absolute;
		top: 0;
		width: 25rem;
		display: flex;
		align-items: flex-end;
		height: 100%;
		padding-bottom: 10%;

		@media (max-width: 960px) {
			width: 20rem;
		}

		.inner {
			background-color: rgba($red, 0.8);
			padding: 1rem 2rem;
		}
		h1 {
			color: white;
			margin: 1rem 0;
			font-weight: bold;
		}

	}
}