section.hero-gallery {
	height: 20vh;
	display: flex;
	align-items: center;
    justify-content: center;
    background-color: $red;

	h1 {
		font-size: 2rem;
		text-align: center;
		color: white;
	}
}