section.home-logo-bar {
	padding: 1rem 0;
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		@media (max-width: 400px) {
			img{
				width: 75px;
				height: auto;
				align-self:flex-start;
			}
		}
	}
}