section.home-four-pods {
	padding: 4rem 0 0 0 ;

	.container  {
		display: flex;
		justify-content: space-around;



		.pod {
			width: 12rem;
			height: 12rem;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			background-position: center;
			background-size: cover;
			border: 2px solid white;
			margin: 1rem;
			@extend .box-shadow;
			cursor: pointer;

		}

		p {
			color: white;
			font-size: 1.25rem;
			font-weight: bold;
			margin-bottom: 1rem;
			@extend .text-shadow;
		}

		@media (max-width: 800px) {
			flex-wrap: wrap;
		}
	}
}