section.home-testimonials {
	padding: 5rem 0;

	h2 {
		color: $red;
		font-size: 1.8rem;
		text-align: center;
		margin-bottom: 4rem;
	}

	.container  {

		.inner {
			text-align: center;
			width: 80%;
			margin: auto;
		}

		img {
			width: 7.5rem;
			height: 7.5rem;
			border-radius: 100%;
			margin: 0 auto 1rem auto;
		}

		p {
			font-size: 1.25rem;
			color: $text-color;
			line-height: 1.25;

			&.name {
				margin-top: 1rem;
				font-size: 1rem;
			}
		}

	}

	button.slick-arrow {
		top: 20%
	}

}