section.brochure-download {
	background-color: $red;
	padding-top: 1rem;
	

	.container {
		position: relative;
		@media (max-width: 480px) {
			display: flex;
			flex-direction: column;
		}
	}

	img {
		position: absolute;
		bottom: 0;
		left: 10%;
		max-width: 100%;
		height: 90%;
		width: auto;
		margin-top: 1rem;

		@media (max-width: 480px) {
			left: 0%;
			position: relative;
			bottom: auto;
			order: 1;
			width: auto;
			height: auto;
			align-self: center;
		}
	}

	.inner {
		padding: 2rem 0 3rem;
		text-align: center;
		

		@media (max-width: 768px) {
			padding: 2rem 1rem 3rem;
			text-align: right;
		}
		@media (max-width: 480px) {
			text-align: center;
			padding-bottom: 1rem;
		}
	}

	h2 {
		font-size: 1.6rem;
		color: white;
	}

}