.home-app-download {
	position: relative;
	background-size: cover;


	.container {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1000;
		padding: 1rem 0.5rem;
	}

	.content {
		width: 60%;

		@media (max-width: 480px) {
			width: 100%;
		}
		
		p {
			color: white;
			font-size: 1.8rem;
			margin-bottom: 1rem;

			@media (max-width: 768px) {
				font-size: 1.5rem;
				line-height: 1.45rem;

			}
		}

		img {
			height: 3rem;
		}
	}

	.image {
		width: 40%;
		text-align: right;

		@media (max-width: 480px) {
			display: none;
		}

		img {
			position: relative;
			top: 4rem;

			@media (max-width: 800px) {
				width: 75%;
			}
		}

	}

}