section.home-four-pod-slider {
	padding: 5rem 0;
	
	h2 {
		color: $red;
		font-size: 1.8rem;
		text-align: center;
		margin-bottom: 4rem;
	}

	.container  {

		.pod {
			text-align: center;
		}

		img {
			width: 10rem;
			height: 10rem;
			border-radius: 100%;
			margin: 0 auto 1rem auto;
		}

		p {
			font-size: 1rem;
			line-height: 1.25;
		}

		a {
			text-decoration: none;
			color: $text-color;
		}
	}

}

.alt-pods{
    .container{
        border-top:1px solid silver;
        padding-top:50px;
    }    
}

