section.home-newsletter-signup {
	background-color: $lighter-grey;
	padding: 5rem 0;
	text-align: center;

	h2 {
		font-size: 1rem;
		color: $darker-grey;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 2rem;
	}
	p {
		font-size: 1rem;
		color: $darker-grey;
		margin-bottom: 2rem;
	}

	form {
		max-width: 30rem;
		display: flex;
		margin: auto;

		input {
			width: 100%;
			border: none;
			padding: 0.5rem;

		}
		button {
			width: 7rem;
			flex-shrink: 0;
			border: none;
			padding: 0.5rem 1.5rem;
			text-transform: uppercase;
			font-weight: bold;
			@extend a.button-red;
		}
	}

}