section.our-services{
    h2{
        margin:50px 0px;
    }
    a{
        text-decoration:none;
        padding:50px 0px;
        display:block;
        &:hover{
            background-color:$lighter-grey;
            
        } 
    }  
    
    .service-list{
        display:flex;
        justify-content:space-between;
        
        .circle-service-wrapper{
            margin-right:60px;
            @media (max-width: 600px) {
                margin-right:30px;

            }

        .circle-service{
            background-color:#a32638;
            border-radius:100px;
            width:200px;
            height:200px;
            display:flex;
            align-items:center;
            justify-content:center;

            @media (max-width: 600px) {
                border-radius: 75px;
                width: 150px;
                height: 150px;
            }
            @media (max-width: 480px) {
                border-radius: 65px;
                width: 130px;
                height: 130px;
            }

            .circle-service-inner{
                border-radius:100px;
                border:1px solid white;
                margin:1px;
                width:195px;
                height:195px;
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:center;
                text-align: center;
                @media (max-width: 600px) {
                    width: 145px;
                    height: 145px;
                }
                @media (max-width: 480px) {
                    border-radius: 65px;
                    width: 140px;
                    height: 140px;
                }
            h2{
                margin:0px;
                color:white;
                font-size:1.4rem;
            }
            p{
                color:white;
            }
            }
        }
        }
        article{
            width:70%;
            display: flex;
            align-items: center;
        }
    }
} 