section.paving-loop {
	margin-top: 3rem;

	&.paving-ranges{
		margin-bottom: 50px;
	}

	.container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	h2 {
		width: 100%;
		text-align: center;
	}

	article {
		position: relative;
		width: 20rem;
		// height: 20rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin: 1rem;

		@media (max-width: 715px) {
			height: auto;
		}

		img {
			width: 15rem;
			height: 15rem;
			border-radius: 100%;
		}

		h3 {
			position: relative;
			z-index: 100;
			color: $text-color;
			font-size: 1.25rem;
			text-align: center;
			margin-bottom: 1rem;
		}
		.category {
			position: relative;
			z-index: 100;
			margin: 1rem 0;
			color: $red;
			font-weight: bold;
		}

		a.button-red {
			margin-top: 0;
			position: relative;
			z-index: 100;
			width:8rem;
			font-size: 0.8rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.25rem 0.5rem ;
			svg {
				height: 20px;
			}
		}
	}

}


.team.alternate {
		margin-bottom: 1rem;

	.team-item {
		flex-direction: column;
		flex-basis: 33%;
		text-align: center;
	}

	img {
		width: 10rem;
		height: 10rem;
	}

	.image {
		width: 10rem;
		height: 10rem;
	}
	h3 {
		padding-top: 1rem;
		color: $text-color;
	}


}