section.paving-range-content {

	.grey-bg {
		background: $lighter-grey;


		a.button-white {
			margin: 2rem 1rem !important;
			font-weight: 400;
			color: #aaa !important;
			border: 1px solid #aaa !important;
			padding: 1rem 4rem
		}
	}


	.product {
		display: flex;
		margin: 2rem auto;
		@media (max-width: 800px) {
			flex-wrap: wrap;
		}

		.gallery {
			width: 50%;
			.products-slider {
				padding: 0 5rem;
				@media (max-width: 480px) {
					padding: 0 ;
				}
			}

			@media (max-width: 800px) {
				width: 100%;
			}

			h2 {
				margin: 2rem 0 1rem;
				font-size: 1.25rem;
				font-weight: bold;
				color: $text-color;
			}
			p {
				line-height: 1.5;
				a {
					color: $red;
				}
			}
		}

		img {
			max-width: 100%;
			margin: auto;
		}

		.products-slide {
			padding: 2rem;

			img {
				border-radius: 100%;
			}

			p {
				text-align: center;
				padding-top: 1rem;
				font-weight: bold;
			}
		}
		.circle-thumb {
			text-align: center;

			img {
				width: 60px;
				margin: auto;
				border-radius: 100%;
			}
		}
		.products-nav {
			width: 90%;
			margin: auto;

			.slick-prev {
				left: -1.5rem;
				top: 25%;
			}
			.slick-next {
				right: -1.5rem;
				top: 25%;
			}
		}
	}

	.content {

		@media (max-width: 800px) {
			width: 100%;
		}
		h2 {
			color: $text-color;
			margin-top: 1rem;
		}

		iframe {
			width: 100%;
			margin: 2rem 0
		}

		img {
			max-width: 100%;
		}
	}


}

.area-calculator {
	margin-top: 2rem;
	max-width: 300px;
	margin-bottom: 2rem;
	.page-template-page-internal-services &{
		max-width: 379px;
		select.shape{
			width: 379px !important;
		}
	}

	span, .label {
		display: block;
		color: grey;
		font-weight: bold;
		font-size: 0.8rem;
		padding: 0.5rem 0 0.2rem 0;
	}

	select.shape {
		width: 100%;
	}

	.calculator-row {
		display: flex;
		justify-content: space-between;
	}

	.calculator-item {
		padding: 0.5rem 0;
	}


	select {
		padding: 10px 30px 10px 10px;
		margin: 0;
		border-radius: 0;
		background: white;
		color: $text-color;
		outline: none;
		display: inline-block;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
		border: 1px solid $text-color;
	}

	input {
		border: 1px solid $light-grey;
		padding: 0.5rem;
		width: 96px;
	}
	input.squ_total,
	input.cir_total,
	input.tri_total{
		background-color: lighten( $light-grey, 20% );
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		select {padding-right:18px}
	}

	label {
		position:relative
	}
	label:after {
		content: '\25BC';
		color: white;
		right: 5px;
		top: 0;
		padding:5px;
		position: absolute;
		pointer-events: none;
		font-size: 10px;
	}
	label:before {
		content: '';
		right: 1px;
		top: -8px;
		width: 30px;
		height: 33px;
		background: $light-grey;
		position: absolute;
		pointer-events: none;
		display: block;
	}
	.quote-me{
		display: none;
	}


	.calculator-item .result {

		span {
			font-size: 2rem !important;
		}

		span small {
			font-size: 0.8rem;
			display: block;
			margin-top: .5rem;
		}
	}

}
