.blog-index {
	margin-bottom: 2rem;

	h1 {
		font-size: 2rem;
		color: $red;
		margin: 2rem 0
	}

	.inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.newsletter-inner, .posts-inner {
			max-width: 65%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			article {
				width: 49%;
				border: 1px solid #b5b0ad;
				margin-bottom: 2rem;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: row;
				display: initial;

				@media (max-width: 800px) {
					width: 100%;
				}
			}
		}
	}

	article {
		width: 22%;
		border: 1px solid $light-grey;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;

		@media (max-width: 800px) {
			width: 32%;
		}
		@media (max-width: 640px) {
			width: 48%;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}

	.featured {
		width: 100%
	}

	h2 {
		padding: 0.5rem 0.5rem 0 0.5rem;
		font-size: 1.25rem;
		a {
			color: $red;
			text-decoration: none;
		}
	}
	p {
		color: $text-color;
	}

	.date {
		padding: 0.5rem 0.5rem 0 0.5rem;
		color: $red;
		font-size: 0.8rem;
		text-align: right;
	}
	.subtitle {
		padding: 0.5rem 0.5rem 0 0.5rem;
		font-size: 0.8rem;
	}

	.button-wrap {
		padding: 0.5rem 0.5rem 0 0.5rem;
		margin-top: auto;
	}
	.author {
		padding: 0.5rem;
		display: flex;
		align-items: center;

		img {
			border-radius: 100%;
			margin-right: 0.5rem;
		}
	}


	.pagination {
		width: 100%;

		ul {
			display: flex;
			align-items: center;
			justify-content: center;

		}

		li {
			width: 2rem;
			height: 2rem;
			margin: 0 0.25rem;
			border-radius: 100%;
			background-color: $light-grey;
			display: flex;
			align-items: center;
			justify-content: center;

			&.active {
				background-color: $red;
			}

			a {
				color: white;
				text-decoration: none;
				font-weight: bold;
			}

			&.prev, &.next {
				background-color: white;
				border: 2px solid $light-grey;
				a {
					color: $light-grey;
				}
			}

			svg {
				height: 0.8rem;
			}

		}

	}

	aside {
		width: 30%;
		padding-left: 1rem;

		@media (max-width: 700px) {
			width: 100%;
			padding-top: 0;
		}

		h2 {
			font-size: 1.25rem;
			color: $red;
			margin-bottom: 1rem;
		}

		ul {

		}

		li a {
			display: block;
			margin-bottom: 0.5rem;
			padding: 0.5rem 1rem;
			text-decoration: none;
			background-color: $lighter-grey;
			color: $red;
			font-weight: bold;
			@extend .trans;

			&:hover {
				background-color: $red;
				color: white;
			}
		}


		&.newsletter {
			li a {
				background-color: white;
				margin-bottom: 0px;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;

				&:hover {
					color: $red;
				}
			}
		}

	}

}