section.process {
	padding: 4rem 0 4rem 0 ;

	h2{
		width: 100%;
		margin-bottom: 1rem;
		color: $red;
		font-size: 1.5rem;
	}

	.process-for{
		.slider-item{
			width: 100%;
			height: 500px;
			border: 1px solid white;
			background-size: cover;
			position: relative;
			@media(max-width:550px){
				height: 300px;
			}
			p{
				font-size: 2rem;
			}
		}
	}

	.process-nav  {
		display: flex;
		justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px auto 0 auto;
        h2{
            font-size: 1.8rem;
            color: #a32638;
            margin: 1rem 0 0.5rem;
            margin-bottom: 60px;
        }

		.pod{
			position: relative;
			border: 2px solid white;
			border-radius: 100%;
			width: auto !important;
			// display: flex;
			// align-items: center;
			// justify-content: center;
			// flex-direction: column;

			img{
				border-radius: 50%;
				display: inline-block;
				max-width: 100%;
			}

		}
		.slick-list{
			max-width: 582px;
			@media(max-width:800px){
				max-width: auto;
			}
		}
		.slick-slide > div{
			text-align: center;
		}

	}
	p {
		color: white;
		font-size: 1.25rem;
		font-weight: bold;
		position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
		@extend .text-shadow;
	}
}