section.projects-search { 
    // height: 25vh;
    padding-bottom: 5px;
    background-color: $red;

    h1 {
        padding-top: 1rem;
        font-size: 2rem;
        text-align: left;
        color: white;
        font-weight: bold;
    }
        
    p {
        padding-top: 0.75rem;
        font-size: 1.5rem;
        text-align: left;
        color: $lighter-grey;
    }

    form {
        padding-top: 0.75rem;
        
        input {
            font-size: 1.25rem;
            padding: 5px;
            max-width: calc( 100% - 100px );
        }

        button {
            font-size: 1.25rem;
            padding: 5px;
            border-radius: 0px;
            background-color: $lighter-grey;
            color: $red;

            &:hover, &:active, &:focus {
                background-color: darken( $lighter-grey, 20% );
                color: darken( $red, 20% );
                cursor: pointer;
            }
        }
    }
}

section.projects {
    .results {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .result {
            max-width: 200px;
            display: inline-block;
            position: relative;
            margin-top: 15px;
            margin-bottom: 15px;
            background-color: $lighter-grey;

            .distance {
                position: absolute;
                background-color: white;
                padding: 5px;
            }

            h2, p {
                padding-left: 10px;
                padding-right: 10px;
            }

            h2 {
                font-size: 1.25rem;
                margin-bottom: 1rem;
                line-height: 1.75;
            }

            p {
                color: #818386;
                margin-bottom: 1rem;
                line-height: 1.5;
            }

            a {
                font-weight: bold;
                color: #a32638;
                text-decoration: none;
            }
        }
    }
}

.gm-style .gm-style-iw {
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    top: 20px !important;
}