h2.search-title{
	font-size: 1.8rem;
	color: $red;
	margin: 1rem 0 2rem;
	padding-bottom: 2rem;
	text-align: center;
	border-bottom: 1px solid $red;
	cursor: pointer;
	span{
		font-size: 1rem;
	}
}

.search-results main.container.search-tab{
	display: none;
	&.show{
		display: flex;
	}
}

.search-results {
	.woocommerce .products,
	.gallery-index .inner{
		flex-basis: 100%;
	}

	.footer{
		margin-top: 8rem;
	}
}

.search-bar{
	margin: 2rem 0 3rem;
	input{
		border: 1px solid $light-grey;
		width: 100%;
		padding: 1rem;
		font-size: 2rem;
		height: 4rem;
		@media(max-width:768px){
			font-size: 1rem;
			height: 2rem;
		}
	}
}