section.services-layout{
    padding:50px 0px;

    .container{
        display:flex;
        flex-wrap: wrap;


        .content {
            width: 60%;
            @media (max-width: 900px) {
                width: 100%;
            }
        }

        .service-sub-title{
            h2{
                font-size: 1.8rem;
                color: #a32638;
                margin: 1rem 0 0.5rem;
                margin-bottom:60px;
            }
        }
        .sidebar{            
            display:flex;
            flex-direction:column;
            width: 40%;
            padding-left: 1rem;


            @media (max-width: 900px) {
                padding-left:0;
                padding-top: 2rem;
                width: 100%;
            }


            .button{
                width:100%;
                text-align: center;
                border: 1px solid #b5b0ad;
                color: $light-grey!important;
                max-width: 379px;
                padding: 20px 0px;                
                text-decoration: none;
                font-size: 1rem;
                font-weight:400;
                margin:0px;
                margin-bottom: 20px;
            } 
            .button-clear{
                @extend .button;
            }
            .button-red{
                @extend .button;
                color:white!important;
            }
            .button-grey{
                @extend .button;
                background-color:9a9a9a!important;
                color:white!important;
            }
        }
    }
}