section.video-block {
	position: relative;
	padding: 0;
	min-height: 25rem;
	background-size: cover;
	background-position: center;

	.inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	h2 {
		color: white;
		font-size: 2.5rem;
		margin-bottom: 5rem;

		@media (max-width: 800px) {
			margin: 0;
			font-size: 1.8rem;
			text-align: center;
			padding: 1rem;
			box-sizing: border-box;
		}
	}


	a {
		border-radius: 100%;
		width: 4rem;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid white;

		@media (max-width: 480px) {
			width: 40px;
			height: 40px;
		}
	}
	svg {
		height: 20px;
		color: white;
	}
	p {
		font-size: 1rem;
		margin-top: 1rem;
		color: white;
	}

}

.video-embed {
	position: fixed;
	background: $red;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 99999;

	&.visible {
		animation: video-overlay 0.5s ease-in 0.25s forwards;
	}

	a.close {
		color: white;
		text-decoration: none;
		font-size: 2rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
	.inner {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	iframe {
		width: 80%;
	}

}



@keyframes video-overlay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}