section.woocommerce {

	 .container {
		 padding: 1rem;
	 }

	/**
		Archive
	 */
	 h1.page-title {
		 color: $red;
		 font-size: 2rem;
		 padding: 2rem 0;
	 }

	ul.products {

		img {
			// border-radius: 100%;
		}

		h2.woocommerce-loop-product__title {
			color: $red;
			font-size: 1rem !important;
			font-weight: bold;
			min-height: 55px !important;
			display: block !important;
		}
		
		span.price {
			color: $text-color !important;
			font-size: 1rem !important;
		}

		a.button.addtocartbutton {
			width:100%;
			text-align: center;
			border: 1px solid #b5b0ad;
			color: $light-grey!important;
			padding: 10px 0px;
			text-decoration: none;
			font-size: 1rem;
			font-weight:400;
			margin:0px;
			margin-bottom: 20px;
		}
		
	}


	section.related.products {
		clear: both;
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 0.5rem solid $red;

		h2 {
			color: $red;
			font-size: 1.5rem;
			padding: 2rem 0;
		}
	}
	



}

body.woocommerce-page {

	div.product div.images {
		width: 30%;

		@media (max-width: 768px) {
			width: 50%;
			margin: 0 auto 2rem auto;
		}
		@media (max-width: 480px) {
			width: 80%;
		}
	}

	div.product div.summary {
		width: 68%;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	h1.product_title {
		color: $red;
		font-size: 2rem;
		padding: 0 0 2rem 0 !important;
	}
	p.price {
		color: #818386 !important;
		font-weight: bold;
		font-size: 1.5rem !important;
		padding-bottom: 1rem;
	}
	p.stock {
		color: #818386 !important;
		font-weight: bold;
		font-size: 1rem !important;
		padding-bottom: 1rem;
	}

	.woocommerce-product-details__short-description {
		padding: 1rem 0;
		color: $text-color;
		margin-bottom: 1rem;
	}
	.woocommerce-product-details__short-description p {
		line-height: 1.25
	}
	input.input-text.qty {
		min-width: 1rem;
		height: 2rem;
		font-size: 0.8rem;
	}
	a.single_add_to_cart_button.button.alt,
	button.button.alt,
	a.checkout-button.button.alt,
	button.single_add_to_cart_button.button.alt {
		background: #8BC34A;
		margin-bottom: 1rem;
		@extend .trans;
	}

	a.single_add_to_cart_button.button.alt:hover,
	a.checkout-button.button.alt:hover,
	button.button.alt:hover,
	button.single_add_to_cart_button.button.alt:hover  {
		background-color: green;
	}

	span.sku_wrapper {
		display: block;
		margin-bottom: 1rem;
		color: $text-color;
	}

	span.posted_in, span.tagged_as {
		color: $text-color;

		a {
			color: $text-color !important;
		}
	}

	.woocommerce-tabs.wc-tabs-wrapper {
		margin-top: 2rem;
	}
	div#respond {
		line-height: 1.5;
		
		span {
			color: $text-color;
		}
	}
	.woocommerce-Tabs-panel {
		p a {
			color: $red !important;
		}

		h2 {
			font-weight: bold;
			color: $red;
			margin-bottom: 0.5rem;
		}

		p {
			line-height: 1.25rem;
			color: $text-color;
			margin-bottom: 1rem;
		}

		ul {
			margin: 0.5rem 0 0 2rem;
			list-style-type: disc;
		}

		li {
			line-height: 1.25rem;
			color: $text-color;
			padding-bottom: 0.5rem;
		}


	}

	input.woocommerce-Input {
		padding: 0.25rem;
		font-size: 1rem;
	}

	.shop_table {
		a {
			color: $red;
		}
	}

	input.input-text {
		padding: 0.5rem;
		font-size: 0.8rem;
	}

}

.woocommerce-checkout{
	h3#ship-to-different-address{
		font-size: 1rem;
	}
}
