.content {
	h1 {
		font-size: 2rem;
		color: $red;
		margin-bottom: 1rem;
	}
	h2 {
		font-size: 1.8rem;
		color: $red;
		margin: 1rem 0 0.5rem;
	}
	h3 {
		font-size: 1.6rem;
		color: $red;
		margin: 1rem 0 0.5rem;
	}
	h4 {
		font-size: 1.4rem;
		color: $red;
		margin: 1rem 0 0.5rem;
	}
	h5 {
		font-size: 1.2rem;
		color: $red;
		margin: 1rem 0 0.5rem;
	}
	h6 {
		font-size: 1.1rem;
		color: $red;
		margin: 1rem 0 0.5rem;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	p {
		color: $text-color;
		margin-bottom: 1rem;
		line-height: 1.5;

		&.meta {
			color: $dark-grey;
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		a {
			font-weight: bold;
			color: $red;
			text-decoration: none;
		}
	}
	strong {
		font-weight: bold;
	}
	ul {
		margin: 0 0 1rem 2rem;
		list-style: disc;
	}
	ol {
		margin: 0 0 1rem 2rem;
		list-style: decimal;
	}
	li {
		padding: 0.25rem 0;
		color: $text-color;
		line-height: 1.5;
		
		a {
			font-weight: bold;
			color: $red;
			text-decoration: none;
		}
		
	}
	blockquote {
		font-size: 1.5rem;
		margin: 1rem 2rem 1rem 1rem;
		padding-left: 1rem;
		border-left: 0.5rem $mid-grey solid;
	}

	&.center {
		text-align: center;
	}

	iframe {
		max-width: 100%;
	}
	
	table {
		color: $text-color;

		td {
			padding: 0.25rem
		}
	}

	&.case-studies {
		p:first-of-type {
			font-size: 1.1rem;
			font-weight: bold;
		}
	}
}