* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


body {
	font: {
		family: 'Helvetica Neue', Arial, sans-serif;
		size: 14px;
	}
	min-width: 320px;

	&.menu-active {
		overflow: hidden;
	}

}
.container {
	width: 100%;
	max-width: 1150px;
	margin: auto;
	padding: 0 0.5rem
}

.box-shadow {
	box-shadow: 0 0 20px -4px rgba(0,0,0,0.75);
}

.text-shadow {
	text-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.trans {
	transition: all 0.25s ease-out;
}


.popper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.35);
	z-index: 1;
}

.form-item {
	display: block;
	border: 1px solid #999;
	padding: 0.75rem 1rem !important;
	margin-bottom: 1.5rem;
	width: 100%;
}

a[class^="button-"] {
	width: auto;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	padding: 0.75rem 2rem;
	text-decoration: none;
	display: inline-block;
	margin-top: 1rem;
	text-align: center;
	@extend .trans;

	&:hover {
		background: black;
		color: white;
	}

	&.small {
		font-size: 0.75rem;
		padding: 0.25rem 0.75rem;
	}

	&.button-black {
		background-color: white;
		color: black;
		border: 1px solid $light-grey;
	}

	&.button-red {
		background-color: $red;
		color: white;
		border: 1px solid $red;
		&:hover {
			background-color: darken($red, 10%);
		}
	}
	&.button-grey {
		background-color: $light-grey;
		color: white;
		border: 1px solid $light-grey;
		&:hover {
			background-color: darken($red, 10%);
		}
	}

	&.button-white {
		background-color: white;
		color: $red;
		&:hover {
			background-color: rgba(white, 0.8);
		}
	}
	&.button-white-bordered {
		background-color: white;
		color: $red;
		border: 1px solid $red;
		&:hover {
			background-color: rgba($red, 0.2);
		}
	}
	&.button-white-grey-bordered {
		background-color: white;
		color: $light-grey;
		border: 1px solid $light-grey;
		&:hover {
			background-color: rgba($light-grey, 0.2);
		}
	}

	svg.fa-chevron-right {
		height: 8px;
	}

}

.center {
	text-align: center;
}

aside [class^=button] {
	display: block;
	font-weight: normal;
}

.hr {
	margin: 25px 0;
	height: 2px;
	background: $hr-grey;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, $hr-grey));

}