$red: rgb(163,38,56);

$text-color: #818386;
$lighter-grey: #f4f4f4;
$light-grey: rgb(181,176,173);
$hr-grey: $light-grey;
$mid-grey: $text-color;
$dark-grey: darken($text-color, 10%);
$darker-grey: darken($dark-grey, 10%);